<h2><%= trn_get('TITLE_DOOR_SECTION_DIMENSION_EDIT') %></h2>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DOOR_SECTION') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @door_section.tr_name %></td>
  </tr>
</table>
<br/>

<%= form_for [@door_section, @door_section_dimension] do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_section_door_section_dimensions_path(@door_section) %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_section_door_section_dimension_path(@door_section, @door_section_dimension), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
