<h2><%= trn_geth('TITLE_DOOR_SECTION_DIMENSION_LIST') %></h2>

<table>
  <tr valign="top">
    <td align="right"><%= trn_geth('LABEL_DOOR_SECTION') %><%= trn_geth('LABEL_SEMICOLON') %></td>
    <td><%= @door_section.tr_name %></td>
  </tr>
</table>
<br/>

<%= link_to trn_geth('BUTTON_ADD'), new_door_section_door_section_dimension_path(@door_section) %> |
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_sections_path %>

<table cellspacing="0">
  <tr class="header">
    <th><%= trn_geth('HEADER_DIMENSIONS') %></th>
    <th></th>
  </tr>
<% for door_section_dimension in @door_section.door_section_dimensions %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= door_section_dimension.value %></td>
    <td>
      <%= link_to trn_geth('BUTTON_EDIT'), edit_door_section_door_section_dimension_path(@door_section, door_section_dimension) %> |
      <%= link_to trn_geth('BUTTON_DELETE'), door_section_door_section_dimension_path(@door_section, door_section_dimension), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

