<h2><%= trn_get('TITLE_DOOR_LINE_NEW') %> - <%= trn_get('TITLE_DOOR_LINE_FRAME_PROFILE') %></h2>

<%= trn_get('FRAME_PROFILE_INTRO') %>

<div class="frame-profile-list">
  <% form_tag :action => :step4 do %>
    <%= hidden_field_tag 'door_line[quotation_id]', @door_line.quotation_id %>
    <%= hidden_field_tag 'door_line[door_frame_id]', @door_line.door_frame_id %>
    <%= hidden_field_tag 'door_line[door_combination_id]', @door_line.door_combination_id %>
    <%= hidden_field_tag 'door_line[frame_profile_id]', @door_line.frame_profile_id %>

    <% @frame_profiles.each do |frame_profile| %>
      <div class="frame-profile">
        <%= hidden_field_tag 'fp_id', frame_profile.id %>
        <div class="preview-image">
          <%= image_tag frame_profile.photo.url(:normal) %>
        </div>
        <div class="label">
          <%= frame_profile.tr_name %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
