<h2><%= trn_get('TITLE_DOOR_PANEL_EDIT') %></h2>

<%= form_tag door_panel_path(@door_panel), :method => :put do %>
  <%= render :partial => 'form' %>
  <%= submit_tag trn_geth('BUTTON_EDIT') %>
<% end %>
<%= link_to trn_geth('BUTTON_BACK_TO_LIST'), door_panels_path %> |
<%= link_to trn_geth('BUTTON_DELETE'), door_panel_path(@door_panel), :confirm => trn_geth('LABEL_DELETE_QUESTION'), :method => :delete %>
